*~
README.html
build_dir
*.bo
*.ba
*.o
obj_dir
elf_to_hex
Mem.hex
exe*
*.log
Tests/Logs
log_*.txt
*_edited.v
*.trace_mem_load
AA_*
symbol_table.txt
vpi_wrapper_*
Verilog_RTL
src_SSITH_P1/Verilog_RTL
src_SSITH_P1/xilinx_ip/hdl/mk*.v
src_SSITH_P1/xilinx_ip/hdl/module*.v
